/* white */
#page_bg {
	background: #eee;
}

div#wrapper {
	background: #ffffff url(../images/white/mw_shadow_l.png) 0 0 repeat-y;
}

div#wrapper_r {
	background: url(../images/white/mw_shadow_r.png) 100% 0 repeat-y;
}

div#header {
	background: url(../images/white/mw_header_t.png) 0 0 repeat-x;
	margin: 0 127px;
}

div#header_l {
	background: url(../images/white/mw_header_t_l.png) 0 0 no-repeat;
}

div#header_r {
	background: url(../images/white/mw_header_t_r.png) 100% 0 no-repeat;
}

div#footer {
	background: #f7f7f7 url(../images/white/mw_footer_b.png) 0 100% repeat-x;
}

div#footer_l {
	background: url(../images/white/mw_footer_b_l.png) 0 0 no-repeat;
}

div#footer_r {
	background: url(../images/white/mw_footer_b_r.png) 100% 0 no-repeat;
}